body {
    font-family: 'Roboto', sans-serif;
    
}
.container {
    display: flex;
    justify-content: center;
}
.formulario__login {
    width: 45%;
    margin: 30vh;
    background-color: #5F7C8A;
    padding: 30px;
    border-radius: 3px;
}
.formulario__link-cadastro {
    font-size: 0.938em;
    text-decoration: none !important;
}
input:focus {
    outline: none;
}
.form_cad{
  /* border:1px solid red; */
  /* display:flex; */
  justify-content:center;
}
.container_form{
  margin:0 auto;
  border:1px solid rgba(0,0,0,.3);
  border-radius:5px;
}

